body, html {
    height: 100%;
    margin: 0;
}

/* ==========================================================================
   	COMING SOON 1
   ========================================================================== */

.wrapper {
    background-image: url('../img/images/img40.jpg');
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: #FFF;
    font-size: 25px;
}

.middle-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.middle-logo{
    width: 230px;
    margin: auto;
}

    
.middle-logo img{
    width: 100%;
}
 

.middle-label{
    width: 80%;
    margin: auto;
}

.middle-label h1{
    font-size: 70px;
}

.middle-label p{
    color: #FFF;
    font-size: 16px;
}

.bottom-social {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bottom-social p{
    color: #FFF;
    text-align: center;
    font-size: 16px;
}

.bottom-social a:link {
    text-decoration: none;
    color: #FFF;
    transition: 0.3s;
}

.bottom-social a:visited {
    text-decoration: none;
    color: #FFF;
    
}

.bottom-social a:hover {
    text-decoration: none;
    color: #FFC428  ;
}

.bottom-social a:active {
    text-decoration: none;
    color: #FFF;
}

/* ==========================================================================
   	MEDIA QUERIES MODULE.
   ========================================================================== */
@media (max-width:1300px) {  

.middle-label{
    width: 80%;
    margin: auto;
}

.middle-label h1{
    font-size: 50px;
}

}

@media (max-width:992px) {  
.topleft {
     width: 100px;
}
    
.middle h1{
    font-size: 35px;
}
    
.middle .subscribe-footer{
    width: 100%;
    margin: auto;
    margin-top: 30px;
}
    
.middle .newsletter-box .button {
  	width: 40%;
    font-size: 11px;
}
    
 .middle .newsletter-box .input {
  	width: 65%;
  	height: 38px;
  	background: #FDFCFB;
  	border: none;
  	font-family: inherit;
  	color: #737373;
  	letter-spacing: 1px;
  	text-indent: 5%;
  	font-size: 11px;
	font-family: 'Open Sans', sans-serif;
}
    
.middle-label{
    width: 100%;
    margin: auto;
}

.middle-label h1{
    font-size: 40px;
}
    
}

@media (max-width:576px) { 
  
.form-container{
  margin: 20px 0px 20px 0px;
}
    
.middle-label h1{
    font-size: 25px;
    line-height: 1.2;
}

.middle-logo{
    width: 160px;
    margin: 0px auto 20px auto;
}
   
.middle-label p{
    font-size: 13px;
}
    
.middle-content {
    top: 40%;
}
    
.bottom-social {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
}

}

@media (max-width:450px) { 
.middle h1{
    font-size: 20px;
    line-height: 1.2;
}
  
.middle {
    position: absolute;
    top: 30%;
    left: 20px;
    right: 20px;
    transform: translate(0%, 0%);
    text-align: center;
}
    
.bottom-social p{
    color: #FFF;
    text-align: center;
    font-size: 13px;
}
    
}